* {
  box-sizing: border-box;
}

.App {
  background-color: #ffffdd;
  height: 100vh;
  width: 100%;
}

Button {
  color: white;
}

.nav {
  height: 60px;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0c452e;
  color: white;
  width: 100%;
  margin-bottom:10px;
}

.nav img {
  width: 45px;
  border-radius: 150px;
  margin-left: 5px;
  margin-right: 5px;
}

#name_app {
  margin-right: 15px;
  font-size: 34px;
  font-style: italic;
  font-weight: lighter;
}

.name_img{
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 150px;
}