*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color:teal;
    display: flex;
    justify-content: center;
}
.entradas{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entradas div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
}
.entradas input{
    font-size: 20px;
}
.entradas button{
    font-size: 20px;
}